<footer class="site-footer">
  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <em>Correspondence:</em>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </a></li>
            <li><a href="mailto:eslam.a.mahmoud@eng1.cu.edu.eg">Eslam Adel</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          <li>
              {% include icon-github.html username="EslamAdel" %}
          </li>
          
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
