--- 
layout: default 
---

<div class="home">

    {{ content }}

    <h2>Students and Guests Contributions</h2>
    <ul>
    {% for my_page in site.pages %}
    {% if my_page.category == "contribution" and my_page.course == page.course and my_page.year == page.year %}
        <li> <a href="{{my_page.url}}" target="_blank">{{ my_page.title }}, {{my_page.author}}</a> </li>
    {% endif %}
    {% endfor %}
    </ul>
    

    <!-- https://help.github.com/articles/creating-a-pull-request-from-a-fork/ -->
    <!-- <h2>Announcements</h2> -->
</div>